.missions {
  margin: 50px 0;
  padding: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.mission {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 10% 55% 15% 20%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.right_border {
  border-right: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
}
